{#
/**
 * @file
 * Theme override for a paragraph with image and text.
 */
#}
{%
  set classes = [
    'hero_block__container',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_image }}
      <div class="hero_block__overlay"></div>
      <div class="hero_block__text" >
        <h2>{{ content.field_text }}</h2>
        <h5>{{ content.field_subtext }}</h5>
        {{ content|without('field_image', 'field_text', 'field_subtext') }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
