<div class="md-hero-container" data-timeout="18000" data-thumb-type="image">
	<div class="md-mainimg">
		<img id="image" src="{{ base_path ~ directory }}/ocean_images/banner-simple-1.png" alt="">
	</div>
	<div class="md-objects">
		<div class="md-object md-layer-1-0-0" data-start="1000" data-stop="9200">
			{# @TODO -> Fix hrefs #}
			<a href="https://ocean.gatech.edu/research/marine-living-resources">
				<img src="{{ base_path ~ directory }}/ocean_images/ocean-microbes.png" alt="ocean-microbes.png">
			</a>
		</div>
		<div class="md-object md-layer-1-0-1" data-start="3900" data-stop="12100">
			<a href="https://ocean.gatech.edu/research/ocean-technology">
				<img src="{{ base_path ~ directory }}/ocean_images/ocean-energy.png" alt="ocean-energy.png">
			</a>
		</div>
		<div class="md-object md-layer-1-0-2" data-start="2000" data-stop="9900">
			<a href="https://ocean.gatech.edu/research/ocean-technology">
				<img src="{{ base_path ~ directory }}/ocean_images/ocean-observing.png" alt="ocean-observing.png">
			</a>
		</div>
		<div class="md-object md-layer-1-0-3" data-start="5900" data-stop="14000">
			<a href="https://ocean.gatech.edu/research/costal-ocean-systems">
				<img src="{{ base_path ~ directory }}/ocean_images/coastal-hazards.png" alt="coastal-hazards.png">
			</a>
		</div>
		<div class="md-object md-layer-1-0-4" data-start="5000" data-stop="13000">
			<a href="https://ocean.gatech.edu/research/marine-living-resources">
				<img src="{{ base_path ~ directory }}/ocean_images/marine-ecology.png" alt="marine-ecology.png">
			</a>
		</div>
		<div class="md-object md-layer-1-0-5" data-start="3000" data-stop="11000">
			<a href="https://ocean.gatech.edu/research/ocean-climate">
				<img src="{{ base_path ~ directory }}/ocean_images/ocean-climate.png" alt="ocean-climate.png">
			</a>
		</div>
	</div>
</div>
